@use "../base";

.buttonBar {
  .nextButton,
  .confirmButton,
  .backButton {
    border: none;
    border-radius: 5px;
    font-family: "Ubuntu";
    font-weight: 700;
    color: white;
    padding: 12px 20px 12px 20px;
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 105px;
  }

  .nextButton {
    background-color: base.$marineBlue;
  }

  .confirmButton {
    background-color: base.$purplishBlue;
  }

  .backButton {
    background: none;
    color: base.$coolGray !important;
    left: 355px;
  }
}
