@use "../base";

.buttonBar {
  .nextButton,
  .confirmButton,
  .backButton {
    border: none;
    border-radius: 5px;
    font-family: "Ubuntu";
    font-weight: 700;
    color: white;
    padding: 12px 20px 12px 20px;
    position: absolute;
    right: 80px;
    bottom: 50px;
    width: 105px;
  }

  .nextButton {
    background-color: base.$marineBlue;
  }

  .confirmButton {
    background-color: base.$purplishBlue;
  }

  .backButton {
    background: none;
    color: base.$coolGray !important;
    left: 355px;
  }
}

@media screen and (max-width: 950px) {
  .buttonBar {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-top: auto;
    bottom: 0px;
    .nextButton,
    .confirmButton {
      position: relative;
      margin-left: auto;
      right: 0px;
      bottom: 0px;
    }

    .backButton {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }
}
