@use "../base";
.multiStepForm {
  display: grid;
  grid-template-columns: 300px 600px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  background-color: base.$white;
  .formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 950px) {
  .multiStepForm {
    display: flex;
    flex-direction: column;
    background-color: base.$magnolia;
    height: 100%;
  }
}
