@use "../base";

.personalInfoForm {
  font-size: 1.5rem;
  font-family: "Ubuntu";
  color: base.$marineBlue;
  padding: 50px 80px 50px 80px;
  position: relative;

  .formTitle {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .formDescription {
    font-size: 1.5rem;
    color: base.$coolGray;
    margin-bottom: 30px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 20px;
    position: inherit;
    div {
      display: flex;
      flex-direction: row;

      p {
        color: base.$strawberryRed;
        position: absolute;
        right: 0;
      }
    }

    input {
      height: 40px;
      border: 1px solid base.$lightGray;
      border-radius: 5px;
    }
  }
}
