.progressBar {
  box-sizing: border-box;
  width: 100%;
  background: url("../images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  border-radius: 15px;
  height: 600px;
}

@media screen and (max-width: 950px) {
  .progressBar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    height: 20vh;

    background: url("../images/bg-sidebar-mobile.svg");
    background-size: cover;
    border-radius: 0;
  }
}
