.progressBar {
    box-sizing: border-box;
    width: 100%;
    background: url("images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    margin: 5px;
    border-radius: 15px;
    }