@use "../base";

.completePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 50px 80px 50px 80px;
  font-size: 1.5rem;
  font-family: "Ubuntu";
  text-align: center;

  .title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: base.$marineBlue;
  }

  .text {
    color: base.$coolGray;
    line-height: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .completePage {
    position: relative;
    background-color: white;
    top: -100px;
    padding: 30px 15px 30px 15px;
    margin: 50px 20px 50px 20px;
    border-radius: 15px;
  }
}
